@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply font-bold lg:font-semibold !leading-[150%] text-[var(--primarytext)] lg:text-5xl text-2xl;
  }
}

:root {
  --primarybg: #030005;
  --primarytext: #ffffff;
  --secondarytext: #d1d1d1;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

html, body{
  overflow-x: hidden;
}

body {
  background-color: var(--primarybg);
}

@font-face {
  font-family: "Renner";
  src: url("/renner-/TrueType/Renner* 400 Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Renner";
  src: url("/renner-/TrueType/Renner* 400 Book Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Renner";
  src: url("/renner-/TrueType/Renner* 700 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Renner";
  src: url("/renner-/TrueType/Renner* 700 Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

.gradient-radial-purple {
  background: radial-gradient(circle, #230231 0%, transparent 25%);
}

@keyframes move-border {
  0% {
    clip-path: inset(70% 0 0 0);     /* left */
  }
  15% {
    clip-path: inset(0 70% 0 0);     /* top */
  }
  55% {
    clip-path: inset(0 0 70% 0);     /* right – slower / linger */
  }
  80% {
    clip-path: inset(0 0 0 70%);     /* bottom */
  }
  100% {
    clip-path: inset(70% 0 0 0);     /* back to left */
  }
}


/* Optional: Hide scrollbar */

/* body::-webkit-scrollbar {
  display: none;
} */
